.invert {
  filter: invert(1);
}
.flex {
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1e1e1e;
}
